__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи и временные файлы
*.log
data/*

# Секреты и локальная конфигурация
.env
.env.*

# Виртуальные окружения
venv/
.venv/
env/

# Git и IDE
.git
.gitignore
.idea/
.vscode/

# Документация и вспомогательные скрипты
docs/
_*.py
*.lock.txt

# CI
.github/

